<h3>Expenses</h3>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form ng-submit="addNew()">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                                <th>Product</th>
                                <th>Product category</th>
                                <th>Price (EUR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="productDetail in productDetails">
                                <td>
                                    <input type="checkbox" ng-model="productDetail.selected"/></td>
                                <td>
                                    <input type="text" class="form-control" ng-model="productDetail.product" required/></td>
                                <td>
                                    <!-- <input type="text" class="form-control" ng-model="productDetail.category" required/> -->
                                    <select name="catSelect" id="catSelect" ng-model="productDetail.category">
								      <option ng-repeat="option in productCategories">{{option.cat}}</option>
								    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="productDetail.price" required/></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <input ng-hide="!productDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove">
                        <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>